/* Link styling */
a {
	text-decoration: none; 
	font-weight: bold;
	color: #DAA520
}
a:hover {
	color: #FFEF00; 
	font-weight: light
}

/* Body */
body {
	margin: auto;
	padding: 3px;
	max-width: 66em;
	background: black;
	font-family: 'Istok Web', sans-serif;
	grid-gap: 0rem;
	background-image: url('images/dirty_old_shirt.png');
}
@media only screen and (min-width: 550px) {
body {
	display: grid;
	grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
}
}

/* Site header */

#masthead {
	font-family: 'Istok Web', sans-serif;
	height: 6rem;
	margin-bottom: -3ex;
	color: #DAA520;
	padding-bottom: -2ex;
	padding-top: 1ex
}
#masthead #site-name {
	font-family: 'Fraunces', serif;
	font-size: 32px;
	color: #DAC420;
	padding-bottom: 1ex;
	padding-top: .75ex
}

#masthead #site-name a:hover {
	color: #FFEF00; 
	text-decoration: none
}
#masthead #site-description:after {
	content: ' by J. G. Gouvea';
	font-style: italic;
	font-family: 'Istok Web', sans-serif;
	color: #DAA520
}

#masthead #site-description {
	margin-top: -10px;
	font-size: 14pt!important
}

@media only screen and (max-width: 550px) {
#masthead #tag {
	position: absolute;
	top: -50px; 
	right: -1em;
	bottom: auto; 
	left: auto
}
	#masthead #site-description:after {
	display: table-row;
	}
}

@media only screen and (min-width: 550px) {
#masthead #tag {
	position: relative;
	top: 30;
	right: 30em;
	bottom: 50;
	left: 50
}
		#masthead #site-description:after {
	display: inline;
	}
}

#masthead #tag {
	color: white;
	font-weight:  900;
	border-radius: 50%;
	width: 7em; height: 7em;
	text-align: center;
	font-family: 'Fraunces', serif;
	font-weight: 900;
	font-size: 24px;
	margin: 0;
	clear: both;
	background:
    radial-gradient(#8e0d0d 30%,transparent 70%),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' fill='red' width='256'> <path d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' stroke='red' stroke-width='3' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' fill='red' width='256' style='transform:rotate(16.36deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' stroke='red' stroke-width='3' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' fill='red' width='256' style='transform:rotate(32.73deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' stroke='red' stroke-width='3' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' fill='red' width='256' style='transform:rotate(49.09deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' stroke='red' stroke-width='3' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' fill='red' width='256' style='transform:rotate(65.45deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' stroke='red' stroke-width='3' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' fill='red' width='256' style='transform:rotate(81.81deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' stroke='red' stroke-width='3' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' fill='red' width='256' style='transform:rotate(98.18deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' stroke='red' stroke-width='3' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' fill='red' width='256' style='transform:rotate(114.54deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' stroke='red' stroke-width='3' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' fill='red' width='256' style='transform:rotate(130.90deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' stroke='red' stroke-width='3' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' fill='red' width='256' style='transform:rotate(147.27deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' stroke='red' stroke-width='3' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 -3 256 262' fill='red' width='256' style='transform:rotate(164.2deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' stroke='red' stroke-width='3' /></svg>");
    background-size:100% 100%;
}
#masthead #tag span {
	padding-top: 30%;
	display: block;
	clear: both
}

@media only screen and (min-width: 550px) {
	#masthead {
	grid-area: header;
	width: 100%;
	height: 12rem;
}
	#masthead #site-name {
	font-size: 48px;
}
#masthead #site-description {
	font-size: 2rem;
	line-height: 1rem
}
	#masthead #tag {
	top: -120px; 
	right: -35em; 
	bottom: auto; 
	left: auto
	}
}

/* Sidebar */
#sidebar {
	font-family: 'Istok Web', sans-serif;
	color: #ccc;
	margin: 7.25ex 1em 1ex -2.65rem;
}
#googleads-side {
	display: block
}
@media only screen and (min-width: 550px) {
#sidebar {
	grid-area: aside;
	position: relative;
	top: 0rem; padding-top: 1rem;
	font-size: 1.25rem;
	min-height: 55ex;
	min-width: 220px;
}
#sidebar li {
	list-style-type: none;
	margin: 0; 
	padding: 0 .5ex;
	text-indent: 0
}
#sidebar #social li {
	display: inline
}
#sidebar #update {
	margin-left: 2.66rem
}
#ddg iframe {
	font-size: 85%
}
}

@media only screen and (max-width: 550px) {
	#sidebar {
	width: 96%;
	display: block;
	position: relative;
	top: 2rem; 
	left: -1.5rem ;
	margin:  0 0 2ex 0
    }
	#sidebar ul {
	font-size: 80%
	}
	#sidebar li { display: inline;
	padding: .2em
	}
	#sidebar ul {
	text-align: center;
	height: 22px 
	}
	#sidebar #meta, #sidebar p, #sidebar #update {
	position: relative; 
	text-align: center;
	top: 2ex; 
	left: 0; 
	margin: 0; 
	padding: 0
	}
	#sidebar #meta {
	margin-top: -3ex
	}
	#sidebar br {
	display: none
	}
}

/* Main wrapper */

#main {
	grid-area: main;
	top: 0rem; 
	padding-top: 1rem;
	margin: 0
}

@media only screen and (max-width: 550px) {
	#main {
	width: 96%; 
	margin: 3ex 2% 0 2%;
	padding-top: 2ex
	}
}

/* Page header */

.header {
	font-family: 'Fraunces', sans-serif;
	font-weight: 900;
	color: white;
	font-size: 2rem;
	line-height: 2.2rem;
	padding-top: -15px;
	margin-bottom: 2ex;
	text-align: center
	}

/* Main content */
#main-content {
	background: #fff 50%;
	border-radius: 2em;
	color: black;
	margin: 0;
	padding: 1.5ex;
	font-size: 1.3rem;
	font-family: 'Istok Web', sans-serif;
}
#main-content div.published {
	display: block;
	text-align: right;
	font-style: italic;
	margin: 1ex 0 3ex auto
}

#main-content p {
	text-indent: 0;
	text-align: justify;
	margin: 0;
	padding: 0;
	hyphens: auto
}
#main-content p+p, blockquote p+p {
	text-indent: 2em;
}
p.intro { font-size: 1.5rem }
blockquote {
 	font-size: 90%;
	margin: 1ex 0 1.5ex 6em
}
#main-content a {
	text-decoration: none;
	color: #8e0d0d
}
#main-content a:hover {
	color: orange;
}
dt {
	float: left;
    clear: left;
    text-align: left;
    font-weight: bold;
    color: black!important;
}
dt::after {
    content: " —";
	margin-right: .5em
}
figure {
	display: table-row;
	width: 100%;
	text-align: center;
	margin: 1ex auto 1ex auto;
	font-style: italic;
	font-size: 85%
}
figure img {
	display: block
}
p img {
	float: right;
	margin-left: 1em
}
.coverImage {
	display: block;
	float: left;
	vertical-align: top;
	width: 150px!important;
	height: 116px!important;
	overflow: hidden;
	margin: 0 .5em 1ex 0
}
.coverImage + p {
display: block;
margin-bottom: 1.75rem!important
}
.coverImage + p + h2 {
display: table-row;
}
table {
	text-align: center; width: 95%;
	margin-top: 4ex
}
tr.odd { 
	background: #ddd 
	}
tr.even {
	background: #fff 
	}
td	{
	text-align: left;
	width: 30%
	}
th	{
	color: green;
	height: 4ex 
	}
#main-content h2 + p {
	display: table-row;
	text-indent: 0;
	padding-top: -20ex
}
#main-content hr {
	margin-bottom: 3ex
}
#main-content h2 {
	font-size: 1.75rem;
	line-height: 3.5;
	color: #333;
	font-weight: bold;
	display: table-row
}
div.refs {
	padding-left: 2em;
	text-align: left
}
div.refs p {
	font-family: monospace;
	font-size: 85%;
	text-indent: -2em!important;
	text-align: initial!important
}
div.refs p em {
	font-style: normal;
	text-decoration: underline;
}
#categories {
	margin-top: 3ex
}
#tags {
}
.pdate {
	font-family: 'DM Mono', monospaced
}
body.index #main-content ul {
	list-style-type: none;
	margin-left: 0;
	text-indent: 0;
	padding-left: 0;
}

/* Footer */
#footer {
	grid-area: footer;
	color: #FDFDFD;
	margin-top: 3ex;
	padding: 2ex 0 4ex 0
}
#footer p {
	text-align: justify
}
#footer b {
	color: yellow ;
	font-weight: bold;
	padding-left: 1rem;
	text-align: right
}
#license .fab {
	width: 32px;
	height: 32px
	}
#license {
	margin: 0
	}
#license .fab {
	vertical-align: bottom;
	top: 0 ;
	padding: 0 ;
	left: 0;
	position: relative;
	display: inline;
	font-size: 44px
	}


@media only screen and (min-width: 550px) {
	span.cc {
	display: inline
	}
	#cctext {
	font-size: 18px;
	line-height: 1.3;
	margin-top: -5ex;
	padding-top: -5ex;
	margin-left: 180px
	}
}


@media only screen and (max-width: 550px) {
	span.cc {
	display: block;
	text-align: center;
	margin: auto
	}
	#cctext {
	font-size: 18px;
	line-height: 1.3;
	padding: 1%
	}
}
